# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directories
**/build/
!src/**/build/

# Ignore local Minecraft folder
.minecraft

# IntelliJ
*.iml
.idea

# Other
run
.gitattributes
BTW_dev
custom_mappings
dev_run
gradle
release

# BTW Files
src/btw/*
!src/btw/*/*.txt